<div id='create-user' style='text-align:center'><%= link_to 'Home Page', root_path, method: :get %></div>
<div id='create-user' style='text-align:center'><%= link_to 'Create Humans!', create_user_path, method: :post %></div>
<div id='clear-users' style='text-align:center'><%= link_to 'Let nature do its thing!', modify_users_path, method: :post %></div>
<div id='clear-users' style='text-align:center'><%= link_to 'Scorch the Earth!', clear_users_path, method: :post %></div>

<h1>test page</h1>
